
@media screen and(max-width: 980px){
	#menu{background-color: yellow;}
}

.progress{
	height: 25px;
	background: #262626;
	padding: 5px;
	overflow: visible;
	border-radius: 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #7992a8;
	margin-top: 50px;
}
.progress .progress-bar{
	border-radius: 20px;
	animation: animate-positive 2s;
}
.progress .progress-value{
	display: block;
	padding: 3px 7px;
	font-size: 13px;
	color: #fff;
	border-radius: 4px;
	background: #191919;
	border: 1px solid #000;
	top: -40px;
	right: -10px;
}
.progress .progress-value:after{
	content: "";
	border-top: 10px solid #191919;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: -6px;
	left: 26%;
}
.progress-bar.active{
	animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}
@-webkit-keyframes animate-positive{
	0% { width: 0; }
}
@keyframes animate-positive{
	0% { width: 0; }
}
body{
	
}
#header{
	text-align: center;
	display:inline-block;
	height: 620px;
	width: 100%;
	position: fixed;
	padding: 10px;
}

#menu{
	display:inline-block;
	height: 600px;
	width: 700px;
	min-width: 240px;
	float: right;
}

#animate{
	left:0px;
	width: 240px;
	height: 95%;
	background-image: url("../images/LOGO.png");
	position:fixed;
	animation:myfirst 7s;
	background-repeat:no-repeat;
	background-size:contain;
	z-index: 1;
}
@keyframes myfirst
{
	0%   {left:40%; width:300px; height:600px;}
	50%   {left:40%; width:300px; height:600px;}
	100%  {left:0px; width:240px; height:450px;}
}
#container{
	text-align: center;
	height: 5%;
	width: 100%;
	padding: 5% 0;
	position: fixed;
	bottom: 20%;
}
#Gsign{
	text-align: center;
}
.i2Style{
	font:bold 20px;
	font-style:normal;
	color:#ffffff;
	background:#227f0a;
	border:0px solid #ffffff;
	text-shadow:2px -1px 1px #222222;
	box-shadow:2px 2px 5px #000000;
	-moz-box-shadow:2px 2px 5px #000000;
	-webkit-box-shadow:2px 2px 5px #000000;
	border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	width:180px;
	padding:20px 43px;
	cursor:pointer;
	margin:0 auto;
	position:fixed;
	top:500px;
	left:30px;
}
.i2Style:active{
	cursor:pointer;
	top:502px;
	left:30px;
}
